.hero {
   display: flex;
  align-items: center;
  padding: 0px 64px;
  gap: 24px;
}

.heroText {
border-radius: 30px;
width: 720px;
background: #f8f8f8;
padding-top: 98px;
padding-left: 64px;
}

.span {
font-style: italic;
font-weight: 400;
background: #bfd6ea;
border-radius: 16px;
}

.title {
font-weight: 500;
font-size: 48px;
line-height: 1.16667;
letter-spacing: -0.02em;
color: #121417;
margin: 0;
}

.description {
font-weight: 400;
font-size: 16px;
line-height: 1.375;
letter-spacing: -0.02em;
color: #121417;
margin-top: 32px;
margin-bottom: 64px;
}

.btn {
border-radius: 12px;
border: none;
padding: 0px 88px;
width: 267px;
height: 60px;
background: #9fb7ce;
font-weight: 700;
line-height: 1.55556;
color: #121417;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 100px;
}

.heroImage {
border-radius: 30px;
width: 568px;
height: 530px;
background: #bfd6ea;
display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 }

.smile {
     display: block;
 max-width: 100%;
  height: auto;
   z-index: 1;

}

.mac {
position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0; 
  z-index: 2;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 40px 60px;
}
