.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 128px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoText {
font-weight: 700;
font-size: 16px;
line-height: 1.25;
color: #121417;
}


.nav {
  display: flex;
  gap: 24px;
}

.link {
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: #121417;
text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
color: #BFD6EA;
}

.logBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.auth {
  display: flex;
  gap: 16px;
}

.login {
font-weight: 700;
font-size: 16px;
line-height: 1.25;
color: #121417;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.login:hover,
.login:focus,
.login:active {
color: #BFD6EA;
}


.register {
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: #121417;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.register:hover,
.register:focus,
.register:active {
background-color: #BFD6EA;
color: black;
}
